<div class="container">
    <div class="row">
        <div class="col-md-3 g-5">
            <img class="d-block w-100" src="{{game.gamePic}}" alt="game pic">
        </div>
        <div class="col-md-6">
            <p class="newarrival text-centre">NEW</p>
            <h1>{{game.gameName}}</h1>
            <h2>€ {{game.gamePrice}}</h2>
            <h3>Genre:</h3>
            <p>{{game.gameGenre}}</p>
            <br>

            <h4>In Stock: <b>{{maxQty}}</b></h4>
            <br>

            <div class="form-group">
                <label for="gameQty">Quantity</label>
                <br>
                <input type="number" min=0 max={{maxQty}} value="1" name="gameQty" class="form-control" [(ngModel)]="qty" class="col-1">        
            </div>
            <br>
            <button class="btn btn-primary" routerLink="checkout" type="submit" (click)="onPlaceOrder(qty)" [disabled]="noStock">{{buttonText}}</button>   
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4>About</h4>
        <p>{{game.gameDesc}}</p>
        <br>
    </div>
</div>