<div class="container">
    <div class="row">
        <div class="col-md-3 g-5">
            <img class="d-block w-100" src="{{games.gamePic}}" alt="game pic">
        </div>
        <div class="col-md-6">
            <p class="newarrival text-centre">NEW</p>
            <h1>{{games.gameName}}</h1>
            <h2>€ {{games.gamePrice}}</h2>
            <h3>Genre:</h3>
            <p>{{games.gameGenre}}</p>
            <br>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4>About</h4>
        <p>{{games.gameDesc}}</p>
        <br>
    </div>
</div>