<div class="container">
    <div class="py-5 text-center">
        <h1 class="display-1 justify-content-center">
          View Orders
       </h1>
    </div> 
</div>  
<ng-container *ngFor="let u of users let i = index">
    <div class="container">
        <div class="card bg-dark col-6 mx-auto">
            <div class="card-body">
                <p>User: {{u.username}}</p>                            
            </div>                
        </div>
        <br>
        <div class="ng-container" *ngFor="let o of u.userOrders let i = index">
            <div class="card bg-dark  col-6 mx-auto">
                <div class="card-body">
                    <p>Order ID: {{o.orderID}}</p>
                    <p>Order Date: {{o.orderDate}}</p>
                <a routerLink="/userOrders/{{o.orderID}}" class="stretched-link"></a>
                </div>
            </div>
            <br>                
        </div>     
    </div> 
    <br>         
</ng-container>
