<nav *ngIf="auth.isLoggedIn()" class="py-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
            
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-white mr-3" routerLink="games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mr-3" routerLink="addGames">Add Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mr-3" routerLink="userOrders">Orders</a>
                </li>        
            </ul>
                
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white mr-3" routerLink="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mr-3" routerLink="logout">Log Out</a>
                </li>
            </ul>        
        </div>
    </div>
</nav>

