<div class="dropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Genres
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li class="dropdown-item"
                *ngFor="let genre of genreService.genres"
                (click)="selectedGenre(genre.genreName)"
                [class.active]="genre.genreName==selGenre"
                >
                {{ genre.genreName}}  
            </li>

        </ul>
      </li>
    </ul>
</div>






