<nav class="py bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="dropdown">
                <select class="dropdown dropdown-menu-dark py-2 m-1 rounded" [(ngModel)]="chosenGenre" (change)="onGenreChanged($event)">
                  <option value="">All Genres</option>
                  <option value="MMORPG">MMORPG</option>
                  <option value="Racing">Racing</option>
                  <option value="Action">Action</option>
                  <option value="RPG">RPG</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Survival">Survival</option>
              </select>
            </div>
            <div class='range-slider'>
                <p style="text-align: center;">€{{rangeMin}} - €{{rangeMax}}</p>
                <input type="range" min="0" max="200" step="1" [(ngModel)]="rangeMin" (ngModelChange)="onPriceRangeChanged($event,true)">
                <input type="range" min="0" max="200" step="1" [(ngModel)]="rangeMax" (ngModelChange)="onPriceRangeChanged($event,false)">
            </div>
        </div>
    </div>
</nav>