<div class="container col mx-auto">
    <div class="card bg-dark">
        <div class="card-header">
            <h3>Game Details</h3>
        </div>
        <form #addForm="ngForm">
            <div class="card-body">
                <div class="form-group">
                    <label for="gameID">Game ID</label>
                    <input type="text" name="gameID" class="form-control" [(ngModel)]="game.gameID" [readonly]=true>
                </div>

                <div class="form-group">
                    <label for="gameName">Publisher Name</label>
                    <input type="text" name="pubName" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="gameDescription">Game Description</label>
                    <input type="text" name="pubEmail" class="form-control" >
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" type="submit">keke</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" type="button">New</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>