<div class="container">
    <div class="py-5 text-center">
        <h1 class="display-1 justify-content-center">
          View Orders
       </h1>
    </div> 
</div>  
<ng-container *ngFor="let u of users let i = index">
    <div class="container">
        <div class="card bg-dark col-6 mx-auto">
            <div class="card-body">
                <p>User: {{u.username}}</p>       
                <a routerLink="/adminOrders/{{u.userID}}" class="stretched-link"></a>                     
            </div>                
        </div>

