<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User Profile Pic">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">User Name</h4>                                                
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
       
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="table-responsive">
                        <table class="table table-profile">
                           <thead>
                              <tr>
                                 <th></th>
                                 <th>
                                    <h4>Details</h4>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>                    
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td class="field">Mobile</td>
                                 <td><i class="fa fa-mobile fa-lg m-r-5"></i>Number</td>
                              </tr>
                              <tr>
                                 <td class="field">Home</td>
                                 <td>>Address</td>
                              </tr>                              
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr class="highlight">
                                 <td class="field">About Me</td>
                                 <td>Add Description</td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                  
                              <tr>
                                 <td class="field">City</td>
                                 <td>City</td>
                              </tr>
                              <tr>
                                 <td class="field">County</td>
                                 <td><a href="javascript:;">Add County</a></td>
                              </tr>
                  
                              <tr>
                                 <td class="field">Gender</td>
                                 <td>
                                    <select class="form-control input-inline input-xs" name="gender">
                                       <option value="male">Male</option>
                                       <option value="female">Female</option>
                                    </select>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="field">Birthdate</td>
                                 <td>
                                    <select class="form-control input-inline input-xs" name="day">
                                       <option value="04" selected="">04</option>
                                    </select>
                                    -
                                    <select class="form-control input-inline input-xs" name="month">
                                       <option value="11" selected="">11</option>
                                    </select>
                                    -
                                    <select class="form-control input-inline input-xs" name="year">
                                       <option value="1989" selected="">1989</option>
                                    </select>
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>