<div class="container">
    <div class="py-5 text-center">
        <h1 class="display-1 justify-content-center">
            Order Summary
        </h1>
    </div>
</div>
<div class="container bg-dark text-white col-5">
    <div class="card-header">
        <div class="row border-bottom">
            <div class="col"><h3>Name</h3></div>
            <div class="col"><h3>Surname</h3></div>
            <div class="col"><h3>Email</h3></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">{{userName}}</div>
                <div class="col">{{userSurname}}</div>
                <div class="col">{{userEmail}}</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container bg-dark text-white col-5">
    <div class="card-header">
        <div class="row border-bottom">
            <div class="col"><h3>Product</h3></div>
            <div class="col"><h3>Price</h3></div>
            <div class="col"><h3>Total</h3></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">{{userName}}</div>
                <div class="col">{{userSurname}}</div>
                <div class="col">{{userEmail}}</div>
            </div>
        </div>
    </div>
</div>