<div class="container">
    <div class="py-5 text-center">
        <h1 class="display-1 justify-content-center">
            Order Summary
        </h1>
    </div>
</div>
<div class="container">
    <table class="table bg-dark text-white">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        <tbody>
            <tr>
                <td>{{userName}}</td>
                <td>{{userSurname}}</td>
                <td>{{userEmail}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <table class="table bg-dark text-white">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tbody>
            <tr>
                <td>{{userName}}</td>
                <td>{{userSurname}}</td>
                <td>{{userEmail}}</td>
            </tr>
        </tbody>
    </table>
</div>