<div class="container">
    <div class="py-5 text-center">
        <h1 class="display-1 justify-content-center">
            Order Details
        </h1>
    </div>
</div>
<div class="container">
    <div class="card bg-dark col-6 mx-auto">
        <div class="card-body">
            put stuff here
                <!--<h3>Oder ID: <b>{{user.username}}</b></h3>
                <h3>Oder Date: {{user.userFirstname}}</h3>
                <h3>Order Price: {{user.userSurname}}</h3>
                <h3>Order Details: {{user.userDOB}}</h3>-->
        </div>       
    </div>
</div>
