
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="px-4 py-5">
                    <h5 class="text-uppercase">{{orders.orderID}}</h5>
                    <h4 class="mt-5 theme-color mb-5">Thanks for your order</h4> <span class="theme-color">Payment Summary</span>
                    <div class="mb-3">
                        <hr class="new1">
                    </div>                    
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold">Quantity <b></b></span> <span class="text-muted"></span>{{orders.orderQty}} </div>                   
                    <div class="d-flex justify-content-between mt-3"> <span class="font-weight-bold">Total</span> <span class="font-weight-bold theme-color">€{{orders.orderPrice}}</span> </div>                   
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold">Order Date: <b></b></span> <span class="text-muted"></span>{{orders.orderDate}} </div>
                </div>
            </div>
        </div>
    </div>
